---
<%= if cook_time do %>cook_time: <%= format_duration(cook_time) %><% end %>
group: <%= group %>
image: <%= image %>
<%= if prep_time do %>prep_time: <%= format_duration(prep_time) %><% end %>
template: recipe
title: <%= title %>
yield: <%= yield %>
---

<%= description %>

## Ingredients

<%= for ingredient <- ingredients do %>
- <%= ingredient %>
<% end %>

## Directions

<%= for instruction <- instructions do %>
1. <%= instruction["text"] %>
<% end %>